.sobre-web-design {
  justify-content: space-between;
  align-items: center;
}

.sobre-web-design article {
  width: 250px;
}

.sobre-web-design article h1 {
  font-size: 70px;
  line-height: 100%;
  font-weight: 400;
  color: #333366
}

.sobre-web-design article p,
.sobre-web-design article h2 {
  color: #3399cc
}

.sobre-web-design article h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 200%;
}

.sobre-web-design article p {
  margin: 25px 0 50px 0;
}

.sobre-web-design figcaption img {
  width: 600px;
}