/* Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,400&display=swap');
/* Componentes */
@import "../../assets/css/header.css";
@import "../../assets/css/buttons.css";

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: baseline;
  text-decoration: none;
}

.container {
  width: 1024px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}